<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Auditory</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="css/AltExe.css" rel="stylesheet">
        <link href="css/test.css" rel="stylesheet">
  </head>
  <body>
    <div id='homeHeader'>
        <div class="circle">
          <img id="imgLogo" src="css/image.png">
        </div>
    </div>
      <div class='centered-element'>
            <font color='black'>
              <!-- JSON placement here for the Type of feeling and for the playlists-->
              <h1>Happy Sounds</h1><br>
              <!--THIS iframe is a placeholder-->
              <iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DX5YTAi6JhwZm" width="300" height="320" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </font>
            <a href="ChooseExercise">
              <button id="start" class="button">Switch Exercise</button>
            </a>
            <br>
            <a href="home">
              <button id="quit">Quit</button>
            </a>
            <a href="Done">
              <button id="done">Done</button>
            </a>
      </div>
  </body>
</html>
