<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Breathe!</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="css/AltExe.css" rel="stylesheet">
        <link href="css/test.css" rel="stylesheet">
  </head>
  <body>
    <div id='homeHeader'>
        <div class="circle">
          <img id="imgLogo" src="css/image.png">
        </div>
    </div>
      <div class='centered-element'>
        <font color='black'>
          <p>INHALE for 6 seconds!</p>
          <p>HOLD for 3 seconds!</p>
          <p>EXHALE for 5 seconds!</p>
          <p>Timer: <span id="time">11</span> seconds left</p>
        </font>
        <div style="text-align: right;"><button type="button" onclick="breathing()">Begin</button></div>
        <a href="ChooseExercise">
          <button id="start" class="button">Switch Exercise</button>
        </a>
        <br>
        <a href="home">
          <button id="quit">Quit</button>
        </a>
        <a href="Done">
          <button id="done">Done</button>
        </a>
      </div>

      <script>
        function startTimer(duration, display) {
            var timer = duration, seconds;
            setInterval(function () {
                //minutes = parseInt(timer / 60, 10);
                seconds = parseInt(timer % 60, 10);

                //minutes = minutes < 10 ? "0" + minutes : minutes;
                //seconds = seconds < 10 ? "0" + seconds : seconds;
                display.textContent = seconds;
                if (seconds == 0) {
                  return;
                }
                //display.textContent = seconds;
                if (timer-- < 0) {
                  timer = duration;
                }
            }, 1000);
        };

        function breathing() {
          var time = 11,
        display = document.querySelector('#time');
          startTimer(time, display)
        };
        </script>

  </body>
</html>
