<!doctype html>

<html>

<head>
    <title>Choose emotion</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/chooseEmo.css" rel="stylesheet">
    <!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <!-- Google Analytics -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-158849254-2', 'auto');
    ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->
</head>

<body>
	<script>
		localStorage.setItem("option","less");
        function home(){
            //click to go to home page
            location.href="/";
        }
        function option(event) {
            if ($('#option').is(":checked")) {
                console.log("User chose more");
                localStorage.setItem('option','more');
            } else {
                console.log("User chose less");
                localStorage.setItem('option','less');
            }
        }
        function choose(event) {
            console.log("User chose " + event.target.name);
            localStorage.setItem("emotion",event.target.name)
        }
	</script>
    <div id="header">
        <span class="dot" onclick="home()">
            <img id='imgLogo' src="css/image.png">
        </span>
        <h1 align="center">What do you want to feel?</h1>
        <p style="padding: 20px;color:white">I want to feel
            <label id="button0" class="switch">
                <input id="option" class="switch-input" type="checkbox" onclick="option(event)" />
                <span class="switch-label" data-on="more" data-off="less"></span> <span class="switch-handle"></span>
            </label>
        </p>
    </div>
    <div id='area' align="center" class="circle"
        style="border: none; margin-top:100%; margin-left:27%; margin-right:5%;border-radius: 50%;">
        <button id='button1' name='happy' class="emotions" onclick="choose(event)">Happy</button>
        <button id='button2' name='sad' class="emotions" onclick="choose(event)"><span>Sad</span></button>
        <button id='button3' name='angry' class="emotions" onclick="choose(event)"><span>Angry</span></button>
        <button id='button4' name='fear' class="emotions" onclick="choose(event)"><span>Fear</span></button>
        <button id='button5' name='calm' class="emotions" onclick="choose(event)"><span>Calm</span></button>
        <button id='button6' name='alert' class="emotions" onclick="choose(event)"><span>Alert</span></button>
        <button id='button7' name='neutral' class="emotions" onclick="choose(event)"><span>Neutral</span></button>
    </div>


    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

<footer>
  {{#if versionB}}
    <button id="start" type="button" onclick="startB()">Start</button>
    <script>
        function startB() {
            if(localStorage.getItem("option")&&localStorage.getItem("emotion")){
                location.href="emotionExercise_B/"+localStorage.getItem("option")+localStorage.getItem("emotion");
            }
            else{
                alert("Please input an emotion");
            }

        }
    </script>
    {{else}}
      <button id="start" type="button" onclick="start()">Start</button>
      <script>
          function start() {
              if(localStorage.getItem("option")&&localStorage.getItem("emotion")){
                  location.href="emotionExercise/"+localStorage.getItem("option")+localStorage.getItem("emotion");
              }
              else{
                  alert("Please input an emotion");
              }
          }
      </script>
    {{/if}}
</footer>

</html>
