<!doctype html>

<html>

<head>
    <title>Emotion Exercise</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/choseEx.css" rel="stylesheet">
    <!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <script>
            var name=localStorage.getItem("option")+localStorage.getItem("emotion");
            console.log(name);
    </script>
    <div id="header">
        <div class="dot" onclick="home()"></div>
        <h1>What else would you like to do?</h1>
    </div>
    <script>
        function home() {
            //click to go to home page
            location.href = "home";
        }
    </script>
    <div class='card' name='alter'
      style="margin-top:60%; margin-left:auto;
      margin-right:auto;text-align:center;" onclick='goToPage()'>
      <div class="container">
        <h2>More Exercises(Coming Soon)</h2>
      </div>
    </div>

    <div class='card' name='again'
      style="margin-top:8%; margin-left:auto;
      margin-right:auto;text-align:center;" onclick='goBack()'>
      <div class="container">
        <h2>Do It Again</h2>
      </div>
    </div>
    
    <div class='card' name='again'
      style="margin-top:8%; margin-left:auto;
      margin-right:auto;text-align:center;" onclick='goHome()'>
      <div class="container">
        <h2>Start Over</h2>
      </div>
    </div>

    <script>
      function goBack() {
        location.href='emotionExercise'
      }
      function goHome() {
        location.href='home'
      }
    </script>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

<footer>
</footer>

</html>