<!doctype html>

<html>

<head>
  <title>Choose Exercise</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/css/choseEx.css" rel="stylesheet">
  <link href="/css/test.css" rel="stylesheet">

  <!-- this is a comment in HTML -->

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <!-- Google Analytics -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-158849254-2', 'auto');
    ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->
</head>

<body>
  <script>
    var name = localStorage.getItem("option") + localStorage.getItem("emotion");
    console.log(name);
  </script>
  <div id="header">
    <div class="dot" onclick="home()">
      <img id='imgLogo' src="css/image.png">
    </div>
    <h1>Would you like to try another Exercise?</h1>
  </div>
  <script>
    function home() {
      //click to go to home page
      location.href = "/";
    }
  </script>
  <div class='card' name='alter' style="margin-top:90%; margin-left:auto;
      margin-right:auto;text-align:center;" onclick='goToPage()'>
    <div class="container">
      <h2 onclick='breathing()'>Breathing</h2>
    </div>
  </div>
  {{#if versionB}}
    <script>
      function breathing() {
        location.href = 'emotionExercise_B/' + localStorage.getItem("option") + localStorage.getItem("emotion");
      }
    </script>
    <div class='card' name='again' style="margin-top:5%; margin-left:auto;
    margin-right:auto;text-align:center;" onclick='goHome()'>
    <div class="container">
      <a href='Auditory_B'>
        <h2>Auditory</h2>
      </a>
    </div>
    </div>
  {{else}}
    <script>
      function breathing() {
        location.href = 'emotionExercise/' + localStorage.getItem("option") + localStorage.getItem("emotion");
      }
    </script>
    <div class='card' name='again' style="margin-top:5%; margin-left:auto;
    margin-right:auto;text-align:center;" onclick='goHome()'>
    <div class="container">
      <a href='Auditory'>
        <h2>Auditory</h2>
      </a>
    </div>
    </div>
  {{/if}}
  {{!-- <div class='card' name='again'
      style="margin-top:8%; margin-left:auto;
      margin-right:auto;text-align:center;">
      <div class="container">
        <h2>Visual</h2>
      </div>
    </div> --}}


  <br>
  <a href="/">
    <button id="quit">Quit</button>
  </a>
  <a href="/Done">
      <button id="done">Done</button>
  </a>
  <script>
    function goBack() {
      location.href = 'chooseEmotion';
    }
    function goHome() {
      location.href = '/';
    }
  </script>

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>

<footer>
</footer>

</html>
