<!doctype html>

<html>

<head>
  <title>Breathe!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/css/test.css" rel="stylesheet">
  <!-- this is a comment in HTML -->

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <div id="homeHeader">
    <span class="dot" onclick="home()">
      <img id='imgLogo' src="css/image.png">
    </span>
    <script>
      function home() {
        //click to go to home page
        location.href = "/";
      }
    </script>
    <h1 align="center">How was it?</h1>
  </div>

  <button onclick='breathing()' id="quit">Try Again</button>
  <script>
    function breathing() {
      location.href = 'chooseEmotion';
    }
  </script>
  <a href="/">
    <button id="done">Done</button>
  </a>
</body>

</html>
