<!doctype html>

<html>

<head>
    <title>Emotion Exercise</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/chooseEmo.css" rel="stylesheet">

    <!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <div id="breathingheader">
        <span class="dot" onclick="home()">
            <img id='imgLogo' src="/css/image.png">
        </span>
        <h2 id="text" align="center">You </h2>
    </div>
    <script>
        function home() {
            //click to go to home page
            location.href = "/";
        }
    </script>
    <br>
    {{!-- <iframe src={{musicURL}} width="100" height="20" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe> --}}
    <img id='emotionImage1' class="emoImage" src={{imageURL1}}>
    <img id='emotionImage2' class="emoImage" src={{imageURL2}}>
    <img id='emotionImage3' class="emoImage" src={{imageURL3}}>
    <script type="text/javascript">
        $('#emotionImage1').hide();
        $('#emotionImage2').hide();
        $('#emotionImage3').hide();
        setTimeout(function () {
            $('#text').text("You are ");
        }, 700);
        setTimeout(function () {
            $('#text').text("You are about ");
        }, 1400);
        setTimeout(function () {
            $('#text').text("You are about to do a ");
        }, 2100);
        setTimeout(function () {
            $('#text').text("You are about to do a breathing ");
        }, 2800);
        setTimeout(function () {
            $('#text').text("You are about to do a breathing exercise.");
        }, 3500);
        setTimeout(function () {
            $('#text').text("Now ");
        }, 4900);
        setTimeout(function () {
            $('#text').text("Now please ");
        }, 5600);
        setTimeout(function () {
            $('#text').text("Now please breathe ");
        }, 6300);
        setTimeout(function () {
            $('#text').text("Now please breathe along ");
        }, 7000);
        setTimeout(function () {
            $('#text').text("Now please breathe along with ");
        }, 7700);
        setTimeout(function () {
            $('#text').text("Now please breathe along with our ");
        }, 8400);
        setTimeout(function () {
            $('#text').text("Now please breathe along with our pictures ");
        }, 9100);
        setTimeout(function () {
            $('#text').text("Now please breathe along with our pictures and ");
        }, 9800);
        setTimeout(function () {
            $('#text').text("Now please breathe along with our pictures and timer.");
        }, 10500);
        var exercise = setInterval(function () {
            setTimeout(function () {

                $('#emotionImage3').hide();
                $('#text').html("Please inhale for <span id='time'></span> seconds");
                counting();
                $('#emotionImage1').fadeIn(1000);
            }, 0);
            setTimeout(function () {
                $('#emotionImage1').hide();
                $('#emotionImage2').fadeIn(1000);
                $('#text').html("Please hold for <span id='time'></span> seconds");
                counting();
            }, 4000);
            setTimeout(function () {
                $('#emotionImage2').hide();
                $('#emotionImage3').fadeIn(1000);
                $('#text').html("Please exhale for <span id='time'></span> seconds");
                counting();
            }, 8000);
        }, 12000);

        setTimeout(function () {
            clearInterval(exercise);

            $('#emotionImage1').hide();
            $('#emotionImage2').hide();
            $('#emotionImage3').hide();
        }, 48000);

        setTimeout(function () {
            $('#text').html("You have complete a breathing exercise!");

        }, 60000);

        setTimeout(function () {
            window.location.href = '/Done';
        }, 63000);


        function counting() {
            time = 4;
            var timer = setInterval(function () {
                $('#time').text(time);
                console.log(time);
                time--;
            }, 1000);
            setTimeout(function () {
                clearInterval(timer);
            }, 4000);
        }


    </script>
</body>

<footer>

    <!--commented out for A/B testing, below is version A page-->
    {{!-- <button id="start" type="button" onclick="start()">Stop</button> --}}
    <br>
    <a href="/ChooseExercise">
        <button id="start1" class="button">Switch Exercise</button>
    </a>
    <a href="/Done">
        <button id="done">Done</button>
    </a>
    <!--Version A ends here-->

    <!-- Below is version B code-
    <br>
    <a href="/ChooseExercise">
        <button id="done">Next</button>
    </a>
    Version B ends here-->
    <a href="/">
        <button id="quit">Quit</button>
    </a>
</footer>

</html>