<!doctype html>

<html>

<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./public/css/bootstrap.min.css" rel="stylesheet">
    <link href="./public/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="test.css" rel="stylesheet">
    <!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <p style="color:black">LALALA</p>
    <div id="homeHeader">
        <div class="circle"></div>
    </div>
    <div>
    <button class="buttons" onclick="start()">
        <div class="box" ></div>
        Shift Your Emotions
    </button>
    <script>
        function start() {
            window.open("chooseEmo.html"); /* Link to Second Page */
        }
    </script>
  </div>
  <div>
    <button>Settings</button>
  </div>
  <a href="settings.html">
    <button id="quit">Settings</button>
  </a>

</body>
</html>
