<!doctype html>
<!doctype html>

<html>

<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="css/home.css" rel="stylesheet">
    <link href="css/test.css" rel="stylesheet">

    <!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body class='body'>

    <div id="homeHeader">
        <div><span onclick='home()'></span>
          <img id="imgLogo" src="css/image.png">
        </div>
        <h1 style="font-size: 40px;margin-top:50%">Hi, welcome! <div id="userName"></div></h1>
        <p style="color: white;text-align:center;margin-right:20%">Use our app to give yourself a better mood NOW!</p>
    </div>
    <script>
        var userName = localStorage.getItem("username");
        console.log(localStorage);
        localStorage.clear();
        document.getElementById('userName').innerHTML = userName;
    </script>
    <script>
        function home(){
            //click to go to home page
            location.href="/";
        }
    </script>
    <div id='homeButtonBox'>
      <a href='chooseEmotion'>
        <button class='homeButton'>
        Shift Your Emotions
        </button>
      </a>
      
    </div>
    <div id='homeButtonBox2'>
      <a href='history'>
        <button class='homeButton'>
        User History
        </button>
      </a>
    </div>
</body>

  <!-- <footer>
 <p style='color:white;margin-top:5%;margin-left:10%;font-size:15px'
    onclick='goSetting()'>
      Settings</p>
  <p style='color:white;margin-top:5%;margin-right:10%;font-size:15px'
    onclick='goProfile()'>
      Profile</p>
    <script>
      function goSetting(){
        location.href='settings';
      }
    </script>
</footer> -->

</html>
