#header{
    position: absolute;
    top: 0;
    left: 0;
    height: 40%;
    width: 100%;
    background-color: #DD304F;
    color: white;
}

/* Header for Home Page */
#homeHeader{
  position: absolute;
  top: 0;
  left: 0;
  height: 40%;
  width: 100%;
  background-color: #DD304F;
  color: white;
  text-align:center;
}

h1{
    margin-top: 3%;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 3rem;
}

p{
    margin-top: 7%;
    margin-left: 15%;
    font-size: 2rem;
    color:#262626;
}


.dot {
    height: 50px;
    width: 50px;
    margin-top: 2%;
    margin-left: 85%;
    background-color:white;
    border-radius: 50%;
    display: inline-block;
  }

  /* Logo Placeholder */

  div.circle {
    position: absolute;
    display: inline-block;
    height: 100px;
    width: 100px;
    background-color: white;
    text-align: center;
    border-radius: 50%;
    margin-top: 100px;
  }

  /* General Button */

  .buttons{
    border:none;
    font-size: 12px;
    height: 50px;
    width: 150px;
    background-color: #DD304F;
    color: white;
    text-align: center;
    border-radius:10%;
    left: 48%;
    top: 50%;
    position: absolute;
  }

  /* Link to Quiz Text */

  .linkToQuiz{
    font-size: 10px;
    position:absolute;
    text-align:center;
    margin-top: 55%;
    margin-left: 48%;
    color:#262626;
  }

  #start{
    border-radius:10px;
    border: none;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 7%;
    width: 100%;
    background-color: #DD304F;
    color: white;
    text-align: center;
    font-size: 20px;
  }

  #quit{
    border-radius:10px;
    border: none;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 7%;
    width: 20%;
    background-color: #DD304F;
    color: white;
    text-align: center;
    font-size: 15px;
  }

  #done{
    border-radius:10px;
    border: none;
    position: fixed;
    right: 0;
    bottom: 0;
    height: 7%;
    width: 20%;
    background-color: #DD304F;
    color: white;
    text-align: center;
    font-size: 15px;
  }

  #button0{
    float: right;
    margin-right: 35%;
  }

  .switch {
    position: relative;
    display: block;
    width: 100px;
    height: 30px;
    padding: 3px;
    margin: 0 10px 10px 0;
    /* background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px); */
    /* background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px); */
    border-radius: 18px;
    /* box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05); */
    cursor: pointer;
  }
  .switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  .switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 10px;
    text-transform: uppercase;
    border-radius: inherit;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
  }
  .switch-label:before, .switch-label:after {
    position: absolute;
    top: 50%;
    margin-top: -.5em;
    line-height: 1;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
  }
  .switch-label:before {
    content: attr(data-off);
    text-align: center;
    right: 12px;
    color: white;
  }
  .switch-label:after {
    content: attr(data-on);
    text-align: center;
    left: 12px;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
    opacity: 0;
  }
  .switch-input:checked ~ .switch-label {
    background: #DD304F;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
  }
  .switch-input:checked ~ .switch-label:before {
    opacity: 0;
  }
  .switch-input:checked ~ .switch-label:after {
    opacity: 1;
  }
  .switch-handle {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 28px;
    height: 28px;
    background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
    background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
    border-radius: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  }
  .switch-handle:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -6px;
    width: 12px;
    height: 12px;
    background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
    background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
    border-radius: 6px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
  }
  .switch-input:checked ~ .switch-handle {
    left: 74px;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
  }
  /* Transition
      ========================== */
  .switch-label, .switch-handle {
    transition: All 0.3s ease;
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease;
  }


  /*emotionButtons*/

  .emotions{
    border: none;
    font-size: 12px;
    height: 90px;
    width: 90px;
    color: white;
    text-align: center;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    margin-left: -11%;
    margin-top: 15%;
    position: absolute;
  }

  .circle .emotions:nth-child(1) {
    transform: rotate(0deg) translate(120px);
  }
  .circle .emotions:nth-child(2) {
    transform: rotate(51deg) translate(120px);
  }
  .circle .emotions:nth-child(3) {
    transform: rotate(102deg) translate(120px);
  }
  .circle .emotions:nth-child(4) {
    transform: rotate(153deg) translate(120px);
  }
  .circle .emotions:nth-child(5) {
    transform: rotate(204deg) translate(120px);
  }
  .circle .emotions:nth-child(6) {
    transform: rotate(255deg) translate(120px);
  }
  .circle .emotions:nth-child(7) {
    transform: rotate(306deg) translate(120px);
  }

  #button1{
      background-color: wheat;
  }

  #button2{
    background-color: turquoise;
}

#button3{
    background-color: teal;
}

#button4{
    background-color: steelblue;
}

#button5{
    background-color: slategrey;
}
#button6{
    background-color: slateblue;
}
#button7{
    background-color: sienna;
}
#buttonQuit{
  position: absolute;
  bottom: 0;
  text-align: center;
}
